@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#landing-main{
  height: 100vh;
  background-image:url(./images/DudHome.jpeg);
  background-size: cover;
}

#nav-logo{
  max-width: 9em;
  margin: 1em 0 0 5em;
}

#nav-list{
  margin-top: 2em;
  width:40em;
  color: #ffffff;
}

#slogan{
  font-family: 'Bungee', cursive;
  color: #93c11f;
  min-height: 19.9em;
  font-size: xx-large;
}

.slogan-text{
  text-shadow: black 1px 0 10px;
}

#collage-div{
  max-width: 100%;
  background-color: #2b7198;
  padding: 5em 5em 5em 5em;
}

#collage-4{
  border-bottom: 10px solid #2b7198;
}

#collage-5{
  margin-top: -13.7em;
}

#benefits-div{
  height: 90vh;
}

#benefits-text-div{
  height:80vh;
  padding:4em 12em 0 12em;
}

#benefits-h2{
  font-family: 'Bungee Shade', cursive;
  color: rgb(99, 3, 172);
}

#why-us-div{
  height:80vh;
  padding-left:3em;
}

#why-us-h2{
  font-family: 'Bungee Shade', cursive;
  color: rgb(99, 3, 172);
}